/* RESET */
img{
    max-width: 100%;
}

html{
    overflow-y:auto;
}

/* COMMON */
.white{
    background-color: white;
}

h1{
    font-size: 2.5rem;
}

.ms-bg-orange{
    background-color: #cd3d0f;
}

/* HEADER */
/* Header top */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} 

.header-container{
    margin: 0 8px 0;
}

.header-top img{
    width: 100px;
}

/* Header bottom */
.nav-item img{
    width: 16px;
}

.chevron-hover{
    display: none;
}

.nav-item:hover .chevron-hover{
    display: inline-block;
}

.nav-item:hover .chevron{
    display: none;
}

#cerca{
    width: 30px;
}

/* MAIN */
main{
    margin-top: 130px;
}

/* Jumbotron */
.jumbotron{
    min-height: 700px;
    /* width: 100%; */
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    object-position: center;
}

.jumbotron-container{
    width: 90%;
    min-height: 700px;
    margin: 0 auto;
}

/* Thumbnails */
.thumbnails{
    width: 90%;
    margin: 0 auto;
    border: 2px solid red; 
}

